.content {
   position: relative;

   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
}

.background {
   height: 100vh;
   position: absolute;
   left: 0;
}

.info {
   width: 60%;
   margin-right: 90px;
   margin-top: 40px;
   color: #FFFFFF;
}

input {
   border: 1px solid #999999;
   border-radius: 24px;
   color: #FFFFFF;
   min-width: 250px;
   width: 84%;
   margin-right: 12px;
   background: transparent;
   font-size: 18px;
   padding: 10px;
}

button {
   border: 1px solid #999999;
   border-radius: 24px;
   margin-right: 12px;
   background: #2D333B;
   color: #FFFFFF;
   font-size: 18px;
   padding: 10px;
}

button:hover {
   cursor: pointer;
}

.profile_info {
   display: flex;
   margin: 40px 0;
}

.profile {
   width: 120px;
   height: 120px;
   border-radius: 60px;
   border: 2px solid #E5E5E5;
   margin-right: 32px;
}

.profile_info h3,
.profile_info span,
.profile_info p {
   color: #999999;
   margin: 0;
}

.profile_info h3 {
   font-size: 24px;
}

.profile_info span {
   display: block;
   font-size: 12px;
}

.profile_info p {
   font-size: 12px;
   margin-top: 20px;
}

.repository {
   font-size: 32px;
   color: #FFFFFF;
   margin: 12px 0;
   text-align: center;
}