
.item-list {
   margin: 24px 0;
}

.item-list strong {
   color: #539BF5;
   font-size: 24px;
   margin: 24px 0;
}

.item-list p,
.item-list a {
   font-size: 12px;
}

.item-list p {
   color: #999999;
   margin: 24px 0;
}

.item-list a {
   color: #539BF5;
   text-decoration: none;
   cursor: pointer;
   margin-bottom: 24px;
}

hr {
   margin-top: 24px;
}